#sidebar {
	float: left;
	width: 20%;
	height: 100%;
	overflow: auto;
}

#sidebar_menu {
	float: left;
	width: 20%;
	height: 100%;
	overflow: auto;
}

#sidebar_menu ul {
	list-style-type: none;
}

.side_bar {
	float: left;
	height: 100%;
	overflow: auto;
	width: 20%;
}

.map_canvas_container {
	width: 80%;
	height: 100%;
	float: right;
}

.map_canvas {
	width: 100%;
	height: 100%;
}

.submenublock {
	margin: 10px;
	padding: 0px;
}

.submenublock h5 {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 30px;
	margin: 0px;
	padding: 15px 10px 5px 30px;
	border-bottom: #CCC 1px solid;
}

.submenublock h5 a {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #000000;
}

.submenublock h3 a:hover,.submenublock h3 a:active,.submenublock h3 a:focus
	{
	color: #00aeef;
}

.second_level {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.second_level li {
	list-style-type: none;
	list-style: none;
	display: block;
	padding: 10px 0px 0px 0px;
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.second_level li a {
	display: block;
	margin-left: 30px;
	text-decoration: none;
	color: #000000;
}

#sidebar_menu ul li a:hover,#sidebar_menu ul li a:active,#sidebar_menu ul li a:focus
	{
	color: #00aeef;
}

body {
	font-size: 13pt;
	font-family: Arial, Arial, Helvetica, sans-serif;
}

.main_content {
	margin: 0px auto;
}