/*added for collapsible menu*/
#sidebar {
	float: left;
	width: 220px;
}

#sidebar_menu {
	width: 220px;
	margin-left: 0px;
}

.submenublock {
	margin: 0px;
	padding: 0px;
}

.submenublock h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 30px;
	margin: 0px;
	padding: 15px 10px 5px 30px;
	border-bottom: #CCC 1px solid;
}

.submenublock h3 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #000000;
}

.submenublock h3 a:hover,.submenublock h3 a:active,.submenublock h3 a:focus
	{
	color: #00aeef;
}

.second_level {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.second_level li {
	list-style-type: none;
	list-style: none;
	display: block;
	padding: 10px 0px 0px 0px;
	border-bottom: #CCC 1px dashed;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
}

.second_level li a {
	display: block;
	margin-left: 30px;
	text-decoration: none;
	color: #000000;
}

#sidebar_menu ul li a:hover,#sidebar_menu ul li a:active,#sidebar_menu ul li a:focus
	{
	color: #00aeef;
}

/* original css*/
body {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.main_content {
	margin: 0px auto;
}

.side_bar {
	float: left;
	height: 100%;
	width: 20%;
	margin: 0px auto;
}

.map_canvas_container {
	width: 80%;
	height: 100%;
	margin-left: 225px;
	position: absolute;
}

.map_canvas {
	width: 100%;
	height: 100%;
}
