body {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.main_content {
	margin: 0px auto;
}

.side_bar {
	float: right;
	height: 100%;
	width: 20%;
	margin: 0px auto;
}

.map_canvas_container {
	width: 80%;
	height: 100%;
	position: absolute;
}

.map_canvas {
	width: 100%;
	height: 100%;
}

.right_image_frame {
	position: absolute;
	top: 203px;
	left: 584px;
	width: 0px;
	height: 0px;
	z-index: 100;
}

.right_image_holder {
	width: 920px;
	height: 360px;
	margin: 0px 0px 0px 0px;
	background-repeat: no-repeat;
	display: block;
}

.zoomin_button_frame {
	position: absolute;
	top: 10px;
	left: 5px;
	width: 0px;
	height: 0px;
	z-index: 101;
}

.zoomin_button_holder {
	width: 30px;
	height: 30px;
	margin: 0px 0px 0px 0px;
	background-image: url(images/zoom_in.png);
	background-repeat: no-repeat;
	display: block;
}

.zoomin_button_holder:hover {
	background-image: url(images/zoom_in_pressed.png);
}

.zoomout_button_frame {
	position: absolute;
	top: 40px;
	left: 5px;
	width: 0px;
	height: 0px;
	z-index: 101;
}

.zoomout_button_holder {
	width: 30px;
	height: 30px;
	margin: 0px 0px 0px 0px;
	background-image: url(images/zoom_out.png);
	background-repeat: no-repeat;
	display: block;
}

.zoomout_button_holder:hover {
	background-image: url(images/zoom_out_pressed.png);
}

.toggle_button_frame {
	position: relative;
	top: 50%;
	left: 100%;
	width: 0px;
	height: 0px;
	z-index: 101;
}

.toggle_button_holder {
	width: 50px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	background-image: url(images/arrow_in.png);
	background-repeat: no-repeat;
	display: block;
}

.toggle_button_holder:hover {
	background-image: url(images/arrow_in_pressed.png);
}